// Global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $gray-50;
  color: $gray-900;
  line-height: 1.5;
}

.app {
  min-height: 100vh;
  padding: $spacing-4 0;
  
  @media (min-width: $tablet) {
    padding: $spacing-6 0;
  }
}